    





      p 
      { 
      
      width: 100%;
      height: auto;
      padding: 30px 20px 30px 20px;
      border: 1px solid black;
      background-color: black;
      }

      p 
      {

      display: flex;
      justify-content: flex-start;
      align-items: center;
      }
      

style
{
 margin:0 10px; 
}

.align {
  display: inline-block;
}



html {
  font-size: 100%;
}
main, nav {
  display: flex;
  flex-wrap: wrap;
}

/*  */
aside{
  float: right;
  width: 100%;
  padding: 5px;
  background: rgb(216, 213, 213);
  color: #f0e9e9;
  margin-bottom:5px;
}


  body
  {
    width:100%;
  }


#texte 

{font-size : 16pt;}

#tout 
{
    top: 40px;
    left: 900px;
    position: absolute;
font-size: 30pt; }



@media screen and (min-width: 768px) 
{ 
   

    body

  
    { 
        font-size : 20px; }
    } 

    

  
    img 
    {
         max-width: 100%;
         height: auto;
    }

    #tout 
{
    top: 40px;
    left: 600px;
    position: absolute;
font-size: 30pt; }


aside {
        display:none;
    }